<br />
<h3>Nikals Carlsson</h3>

<address>
    <strong>Mail:</strong> <a href="mailto:plusgunnar@gmail.com">plusgunnar@gmail.com</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/PlusGunnar" target="_blank">PlusGunnar</a><br />
    <strong>YouTube:</strong> <a href="https://www.youtube.com/channel/UCuMBVtjvfRq5aSsz_TPKenQ" target="_blank">PlusGunnar</a><br />
    <strong>Andra projekt:</strong> <a href="http://plusgunnar.st/" target="_blank">PlusGunnar.st</a>
</address>
