<br />
<p class="lead">
    Hej och välkommen till Grammatik-laxen!
</p>
<p class="lead">
    Den här webbplatsen riktar sig till dig som studerar, undervisar eller är intresserad av svensk grammatik.
</p>
<p class="lead">
    På Grammatik-laxen hittar du information om grammatik, du kan träna dina kunskaper genom självrättande övningar i grammatik-spelet samt generera 
    färdiga (slumpvis sammansatta) grammatik-prov med facit.
</p>