<br />
<p class="lead">
    Den här webbplatsen är skapad av Niklas Carlsson och kommer ur ett stort intresse för grammatik, systemutveckling och effektivisering!
</p>
<p class="lead">
    På den här sidan kan du lära dig mer om grammatik, göra självrättande övningar (spel) samt ta fram färdiga (slumpmässigt genererade) prov med facit 
    att testa dina (eller dina elevers/studenters) kunskaper på.
</p>
<p class="lead">
    Förhoppningen är att den här sidan ska vara ett stöd för alla som vill eller har behov av att utvecklas i svensk grammatik och riktar sig därför 
    i huvudsak till elever, studenter och lärare i svenska, svenska som andraspråk (SVA) och svenska för invandrare (SFI).
</p>

<p class="lead">
    Men oavsett vem du är så hoppas jag att du ska upptäcka det lustfyllda i grammatik och ha en trevlig vistelse här!
</p>
<p class="lead">
    Välkommen!
</p>