@{
    ViewBag.Title = "Om";
}
<h2>@ViewBag.Title</h2>

<p>
    Grammatik-laxen är en webbplats skapad av Niklas Carlsson för att hjälpa elever, 
    lärare och alla som är intresserade med grammatik-undervisningen i svenska, 
    svenska som andraspråk (SVA) och svenska för invandrare (SFI).
</p>
<p>
    På den här sidan kan du lära dig mer om grammatik men även få hjälp med att ta fram prov
    (om du är lärare eller elev som behöver något att träna på) eller göra roliga övningar
    för att testa dina kunskaper i grammatik.
</p>
<p>
    Lycka till!
</p>
