@{
    ViewBag.Title = "Kontakt";
}
<div class="jumbotron gl-div-opacity">
    <div class="col-md-12">
        <h1>Kontakt</h1>
        <p class="lead"><strong>Niklas Carlsson.</strong></p>
        <p class="lead">
            <strong>Mail:</strong>   <a href="mailto:plusgunnar@gmail.com">plusgunnar@gmail.com</a><br />
            <strong>Twitter:</strong> <a href="https://twitter.com/PlusGunnar" target="_blank">PlusGunnar</a><br />
            <strong>Andra projekt:</strong> <a href="http://plusgunnar.st/" target="_blank">PlusGunnar.st</a>
        </p>
    </div>
    <div class="col-md-12 row">
        <div class="col-md-12 text-left">
            <a href="@Url.Action("Index", "Home")" class="btn btn-default btn-lg gl-button">&laquo; Tillbaka</a>
        </div>
    </div><br />
</div>