@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grammatik-laxen</h1>
    <p class="lead">Välkommen till grammatik-laxen! Sidan där du kan lära dig mer om grammatik och få hjälp i undervisningen (både som lärare och elev).</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Berätta mer &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Grammatik</h2>
        <p>
            Vill du lära dig mer om grammatik?
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Berätta mer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prov</h2>
        <p>
            Vill du ha hjälp att ta fram ett prov?
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Berätta mer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Övning</h2>
        <p>
            Vill du ha snabba övningar som testar dina kunskaper i grammatik?
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Berätta mer &raquo;</a></p>
    </div>
</div>