@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grammatik-laxen</h1>
    <p class="lead">Välkommen till grammatik-laxen! Sidan där du kan lära dig mer om grammatik och få hjälp i undervisningen (både som lärare och elev).</p>
    <p>
        <a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Berätta mer &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <p><a href="@Url.Action("Index", "Prov")" class="btn btn-primary btn-block btn-lg" title="Vill du lära dig mer om grammatik?">Till grammatik &raquo;</a></p>
    </div>

    <div class="col-md-4 text-center">
        <p><a href="@Url.Action("Index", "Prov")" class="btn btn-primary btn-block btn-lg" title="Vill du utmana dina kunskaper i grammatik?">Till spel &raquo;</a></p>
    </div>

    <div class="col-md-4 text-center">
        <p><a href="@Url.Action("Index", "Prov")" class="btn btn-primary btn-block btn-lg" title="Vill du ha hjälp att ta fram ett prov?">Till prov &raquo;</a></p>
    </div>
</div>