@model List<GrammatikLaxen.Models.db.preposition>
@{
    ViewBag.Title = "Preposition";
}

<h2>Preposition</h2>
<table class="table-bordered">
    <tr>
        <th>Nummer</th>
        <th>Ord</th>
        <th>Primär ordklass</th>
        <th>Sekundär ordklass</th>
    </tr>

    @foreach (var preposition in Model)
    {
        <tr>
            <th>@preposition.Id</th>
            <td>@preposition.ord</td>
            <td>@preposition.ordklass</td>
            <td>
                @if (preposition.även == preposition.ordklass)
                {

                }
                else
                {
                    @preposition.även
                }
            </td>
        </tr>
    }

</table>
