<div class="col-md-12 row">
    <div class="col-md-12 text-center">
        <br /><p class="text-primary"><a id="mer-info-adj" class="text-muted btn-lg gl-a-color" data-toggle="collapse" href="#adjinfo" role="button" aria-expanded="false" aria-controls="adjinfo">Adjektiv +</a></p>
    </div>
</div>
<div class="collapse" id="adjinfo">
    <div class="card card-body">
        <!--Inledande info-->
        <div class="col-md-12 text-center">
            <h4>
                <i>
                    Adjektiven sen oss lär<br />
                    hurudana tingen är:<br />
                    'glada', 'snälla', 'rara'<br />
                    så som vi ska vara
                </i>
            </h4><br />
            <iframe src="https://www.youtube.com/embed/mGCdcOdEJvM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br />
        </div>
        <!--Nivå 1: Bestämdhet-->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-bes" class="btn btn-success btn-block btn-lg gl-button" data-toggle="collapse" href="#besinfo" role="button" aria-expanded="false" aria-controls="besinfo">Nivå 1: Bestämdhet +</a>
            </div>
        </div>
        <div class="collapse" id="besinfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-success">Obestämd (utrum)</b> form används när adjektivet ska beskriva ett obestämt ord som har n-genus (t.ex. En 'blå' bil).</h4>
                    <h4>Till exempel: arg, begåvad, brun, blå, förstående, gammal, glad, grön, gul, hög, kall, ledsen, liten, låg</h4><br />
                    <h4><b class="text-success">Obestämd (neutrum)</b> form används när adjektivet ska beskriva ett obestämt ord som har t-genus (t.ex. Ett 'blått' hus).</h4>
                    <h4>Till exempel: argt, begåvat, brunt, blått, förstående, gammalt, glatt, grönt, gult, högt, kallt, ledset, litet, lågt</h4><br />
                    <h4><b class="text-success">Bestämd</b> form används när adjektivet ska beskriva ett bestämt ord (t.ex. Det där 'blåa' huset).</h4>
                    <h4>Till exempel: arga, begåvade, bruna, blåa, förstående, gamla, glada, gröna, gula, höga, kalla, ledsna, lilla, låga</h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 1: Numerus-->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-num" class="btn btn-success btn-block btn-lg gl-button" data-toggle="collapse" href="#numinfo" role="button" aria-expanded="false" aria-controls="numinfo">Nivå 1: Numerus +</a>
            </div>
        </div>
        <div class="collapse" id="numinfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-success">Singular</b> används när adjektivet ska beskriva ett ord i singular, påverkas även av vilket genus ordet som ska beskrivas har (t.ex. En 'glad' hund och ett 'glatt' barn).</h4>
                    <h4>Till exempel: arg/argt, begåvad/begåvat, brun/brunt, blå/blått, förstående, gammal/gammalt, glad/glatt, grön/grönt</h4><br />
                    <h4><b class="text-success">Plural</b> används när adjektivet ska beskriva ett ord som står i plural (t.ex. Flera 'glada' hundar).</h4>
                    <h4>Till exempel: arga, begåvade, bruna, blåa, förstående, gamla, glada, gröna, gula, höga, kalla, ledsna, lilla, låga</h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 2: Komparation-->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-komparation" class="btn btn-warning btn-block btn-lg gl-button" data-toggle="collapse" href="#komparationinfo" role="button" aria-expanded="false" aria-controls="komparationinfo">Nivå 2: Komparation +</a>
            </div>
        </div>
        <div class="collapse" id="komparationinfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-warning">Komparation (positiv - komparativ - superlativ)</b> är adjektivens jämförelseformer (i svenskan finns det tre: positiv, komparativ, superlativ) och visar hur mycket adjektivet är i förhållande till sina andra former (t.ex.glad - gladare - gladast). Alla adjektiv kompareras dock inte på samma sätt. Vi kan dela in de olika sätten att komparera i fem olika grupper.</h4><br />
                    <h4><b class="text-warning">Grupp 1:</b> är den vanligaste (kallas ibland regelbunden) och kompareras genom att lägga till några bokstäver i slutet på ordet i komparativ och superlativ.</h4>
                    <h4>Till exempel: glad - gladare - gladast, arg - argare - argast, blå - blåare - blåast</h4><br />
                    <h4><b class="text-warning">Grupp 2:</b> kompareras på samma sätt som grupp 1 men adjektivet får även en ny vokal.</h4>
                    <h4>Till exempel: ung - yngre - yngst, tung - tyngre - tyngst, stor - större - störst, grov - grövre - grövst</h4><br />
                    <h4><b class="text-warning">Grupp 3:</b> blir helt nya ord när de kompareras (kallas därför oregelbundna).</h4>
                    <h4>Till exempel: dålig - sämre - sämst, gammal - äldre - äldst, liten - mindre - minst, många - fler - flest</h4><br />
                    <h4><b class="text-warning">Grupp 4:</b> förändras inte när de kompareras utan får istället ordet 'mer' och 'mest' framför sig. Adjektiven här är antingen väldigt långa eller slutar på obetonad -ad eller -isk.</h4>
                    <h4>Till exempel: begåvad - mer begåvad - mest begåvad, praktisk - mer praktisk - mest praktisk</h4><br />
                    <h4><b class="text-warning">Grupp 5:</b> förändras inte när de kompareras utan får istället ordet 'mer' och 'mest' framför sig. Adjektiven här slutar ofta på -ande eller - ende och är egentligen verb men har fått en beskrivande funktion och kan därför användas som adjektiv (presens particip och perfekt particip).</h4>
                    <h4>Till exempel: förstående - mer förstående - mest förstående, dansande - mer dansande - mest dansande</h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 3: Superlativ -->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-superlativ" class="btn btn-danger btn-block btn-lg gl-button" data-toggle="collapse" href="#superlativinfo" role="button" aria-expanded="false" aria-controls="superlativinfo">Nivå 3: Superlativ +</a>
            </div>
        </div>
        <div class="collapse" id="superlativinfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-danger">Superlativ</b> är den sista formen i adjektivens komparation (som presenteras i avsnittet ovan) och kan se lite olika ut beroende på om det har en predikativ ställning (dvs. kommer efter ordet som det beskriver, t.ex. Jag är 'gladast') eller en attributiv ställning (dvs. kommer före ordet som den beskriver, t.ex. Den 'gladaste' personen).</h4><br />
                    <h4><b class="text-danger">Predikativ</b> ställning är precis som beskrivits i avsnittet ovan (Steg 2: Komparation) och följer någon av de fem grupperna.</h4>
                    <h4>Till exempel: gladast, yngst, sämst, mest begåvad, mest förstående</h4><br />
                    <h4><b class="text-danger">Attributiv</b> ställning kan skilja sig från adjektivet i predikativ ställning men för det mesta så lägs bokstaven -e eller -a till på slutet av adjektivet i predikativ ställning superlativ (om ordet inte redan slutar på -e eller -a) för att bilda adjektivet i attributiv ställning superlativ ('gladast' blir alltså 'gladaste').</h4>
                    <h4>Till exempel: gladaste, yngsta, sämsta, mest begåvade, mest förstående</h4><br />
                </div>
            </div>
        </div><br />
    </div>
</div>


<script>
    $('#mer-info-adj').click(function () {
        $(this).text(function (i, old) {
            return old == 'Adjektiv -' ? 'Adjektiv +' : 'Adjektiv -';
        });
    });

    $('#mer-info-bes').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 1: Bestämdhet -' ? 'Nivå 1: Bestämdhet +' : 'Nivå 1: Bestämdhet -';
        });
    });

    $('#mer-info-num').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 1: Numerus -' ? 'Nivå 1: Numerus +' : 'Nivå 1: Numerus -';
        });
    });

    $('#mer-info-komparation').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 2: Komparation -' ? 'Nivå 2: Komparation +' : 'Nivå 2: Komparation -';
        });
    });

    $('#mer-info-superlativ').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 3: Superlativ -' ? 'Nivå 3: Superlativ +' : 'Nivå 3: Superlativ -';
        });
    });
</script>