<div class="col-md-12 row">
    <div class="col-md-12 text-center">
        <br /><p class="text-primary"><a id="mer-info-int" class="text-muted btn-lg gl-a-color" data-toggle="collapse" href="#intinfo" role="button" aria-expanded="false" aria-controls="intinfo">Interjektion +</a></p>
    </div>
</div>
<div class="collapse" id="intinfo">
    <div class="card card-body">
        <!--Inledande info-->
        <div class="col-md-12 text-center">
            <h4>
                <i>
                    Interjektioner säger hur vi känner<br />
                    när det värker, svider och bränner
                </i>
            </h4><br />
            <h4>Tips: Interjektioner är ljudhärmande ord eller ord som du ofta ropar ut i ledigt tal men kanske inte skriver så ofta i formella sammanhang (t.ex. 'Tjena!', 'Usch!', Hunden säger 'vov'!).</h4><br />
        </div>
        <!--Nivå 1: -->

    </div>
</div>

<script>
    $('#mer-info-int').click(function () {
        $(this).text(function (i, old) {
            return old == 'Interjektion -' ? 'Interjektion +' : 'Interjektion -';
        });
    });
</script>