<div class="col-md-12 row">
    <div class="col-md-12 text-center">
        <br /><p class="text-primary"><a id="mer-info-kon" class="text-muted btn-lg gl-a-color" data-toggle="collapse" href="#koninfo" role="button" aria-expanded="false" aria-controls="koninfo">Konjunktion +</a></p>
    </div>
</div>
<div class="collapse" id="koninfo">
    <div class="card card-body">
        <!--Inledande info-->
        <div class="col-md-12 text-center">
            <h4>
                <i>
                    Konjunktioner som 'och', 'men', 'för' och 'då'<br />
                    kan göra meningar så långa så
                </i>
            </h4><br />
        </div>
        <!--Nivå 2: Subjunktion -->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-subjunktion-konjunktion" class="btn btn-warning btn-block btn-lg gl-button" data-toggle="collapse" href="#subkoninfo" role="button" aria-expanded="false" aria-controls="subkoninfo">Nivå 2: Subjunktion +</a>
            </div>
        </div>
        <div class="collapse" id="subkoninfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-warning">Subjunktion</b> är en underkategori till konjunktion. Konjunktioner binder samman både huvudsatser (t.ex. Jag är glad 'och' du är trött) och bisatser (t.ex. Jag badade inte, 'eftersom' det var kallt) men subjunktioner binder bara samman bisatser.</h4>
                    <h4>Till exempel: då, eftersom, fastän, ifall, medan, </h4><br />
                </div>
            </div>
        </div><br />

    </div>
</div>

<script>
    $('#mer-info-kon').click(function () {
        $(this).text(function (i, old) {
            return old == 'Konjunktion -' ? 'Konjunktion +' : 'Konjunktion -';
        });
    });

    $('#mer-info-subjunktion-konjunktion').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 2: Subjunktion -' ? 'Nivå 2: Subjunktion +' : 'Nivå 2: Subjunktion -';
        });
    });
</script>