<div class="col-md-12 row">
    <div class="col-md-12 text-center">
        <br /><p class="text-primary"><a id="mer-info-kon" class="text-muted btn-lg gl-a-color" data-toggle="collapse" href="#koninfo" role="button" aria-expanded="false" aria-controls="koninfo">Konjunktion +</a></p>
    </div>
</div>
<div class="collapse" id="koninfo">
    <div class="card card-body">
        <!--Inledande info-->
        <div class="col-md-12 text-center">
            <h4>
                <i>
                    Konjunktioner som 'och', 'men', 'för' och 'då'<br />
                    kan göra meningar så långa så
                </i>
            </h4><br />
        </div>
        <!--Nivå 1: -->

    </div>
</div>

<script>
    $('#mer-info-kon').click(function () {
        $(this).text(function (i, old) {
            return old == 'Konjunktion -' ? 'Konjunktion +' : 'Konjunktion -';
        });
    });
</script>