<div class="col-md-12 row">
    <div class="col-md-12 text-center">
        <br /><p class="text-primary"><a id="mer-info-pre" class="text-muted btn-lg gl-a-color" data-toggle="collapse" href="#preinfo" role="button" aria-expanded="false" aria-controls="preinfo">Preposition +</a></p>
    </div>
</div>
<div class="collapse" id="preinfo">
    <div class="card card-body">
        <!--Inledande info-->
        <div class="col-md-12 text-center">
            <h4>
                <i>
                    kommer snart
                </i>
            </h4><br />
        </div>
        <!--Nivå 1: -->

    </div>
</div>

<script>
    $('#mer-info-pre').click(function () {
        $(this).text(function (i, old) {
            return old == 'Preposition -' ? 'Preposition +' : 'Preposition -';
        });
    });
</script>