<div class="col-md-12 row">
    <div class="col-md-12 text-center">
        <br /><p class="text-primary"><a id="mer-info-pre" class="text-muted btn-lg gl-a-color" data-toggle="collapse" href="#preinfo" role="button" aria-expanded="false" aria-controls="preinfo">Preposition +</a></p>
    </div>
</div>
<div class="collapse" id="preinfo">
    <div class="card card-body">
        <!--Inledande info-->
        <div class="col-md-12 text-center">
            <h4>
                <i>
                    Prepositioner före substantiven står<br />
                    det blir 'till' jul, 'vid' påsk eller 'i' vår
                </i>
            </h4><br />
            <h4>Tips: Du hör på ordet vad det handlar om prePOSITION. Vilken position har substantivet?</h4><br />
            <h4><b class="text-success">Till exempel: </b> bakom, bredvid, framför, genom, under</h4><br />
        </div>
    </div>
</div>

<script>
    $('#mer-info-pre').click(function () {
        $(this).text(function (i, old) {
            return old == 'Preposition -' ? 'Preposition +' : 'Preposition -';
        });
    });
</script>