<div class="col-md-12 row">
    <div class="col-md-12 text-center">
        <br /><p class="text-primary"><a id="mer-info-pro" class="text-muted btn-lg gl-a-color" data-toggle="collapse" href="#proinfo" role="button" aria-expanded="false" aria-controls="proinfo">Pronomen +</a></p>
    </div>
</div>
<div class="collapse" id="proinfo">
    <div class="card card-body">
        <!--Inledande info-->
        <div class="col-md-12 text-center">
            <h4>
                <i>
                    Pronomen som 'den' och 'det'<br />
                    används för det man ändå vet
                </i>
            </h4><br />
            <iframe width="560" height="315" src="https://www.youtube.com/embed/G3kL2pwW22U?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br />
        </div>
        <!--Nivå 1: Personliga-->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-personliga" class="btn btn-success btn-block btn-lg gl-button" data-toggle="collapse" href="#personligainfo" role="button" aria-expanded="false" aria-controls="personligainfo">Nivå 1: Personliga +</a>
            </div>
        </div>
        <div class="collapse" id="personligainfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-success">Subjektform</b> av personliga pronomen beskriver den, de eller det som utför något (t.ex. 'Jag' hoppar).</h4>
                    <h4>Till exempel: de, den, det, du, han, hon, hen, jag, ni, vi</h4><br />
                    <h4><b class="text-success">Objektform</b> av personliga pronomen beskriver den, de eller det som är föremål för handlingen eller blir påverkad av handlingen (t.ex. Jag sparkar bollen till 'dig').</h4>
                    <h4>Till exempel: dem, den, det, dig, honom, henne, hen, mig, er, oss</h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 1: Possessiva-->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-possessiva" class="btn btn-success btn-block btn-lg gl-button" data-toggle="collapse" href="#possessivainfo" role="button" aria-expanded="false" aria-controls="possessivainfo">Nivå 1: Possessiva +</a>
            </div>
        </div>
        <div class="collapse" id="possessivainfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-success">Possessiva</b> pronomen används för att visa ägande eller tillhörighet till något annat. Beroende på om ordet som ägs av eller tillhör det possessiva pronomenet är i utrum, neutrum eller plural så förändras det possessiva pronomenet ibland.</h4><br />
                    <h4>Tillsammans med ord i utrum (n-genus): deras, dess, din, hans, hennes, hens, min, er, vår</h4>
                    <h4>Tillsammans med ord i neutrum (t-genus): deras, dess, ditt, hans, hennes, hens, mitt, ert, vårt</h4>
                    <h4>Tillsammans med ord i plural: deras, dess, dina, hans, hennes, hens, mina, era, våra</h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 1: Reflexiva-->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-reflexiva" class="btn btn-success btn-block btn-lg gl-button" data-toggle="collapse" href="#reflexivainfo" role="button" aria-expanded="false" aria-controls="reflexivainfo">Nivå 1: Reflexiva +</a>
            </div>
        </div>
        <div class="collapse" id="reflexivainfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-success">Reflexiva</b> pronomen används för att visa att den som utför handlingen även är den som blir utsatt för den (t.ex. Jag kammar 'mig').</h4>
                    <h4>Till exempel: sig, dig, mig, er, oss</h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 2: Reflexiva possessiva -->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-reflexiva-possessiva" class="btn btn-warning btn-block btn-lg gl-button" data-toggle="collapse" href="#refposinfo" role="button" aria-expanded="false" aria-controls="refposinfo">Nivå 2: Reflexiva possessiva +</a>
            </div>
        </div>
        <div class="collapse" id="refposinfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-warning">Reflexiva possessiva</b> pronomen används för att visa att den som utför handlingen även äger eller har tillhörighet till det som blir utsatt för handlingen (t.ex. Hen sparkar 'sin' boll). Beroende på om ordet som ägs av eller tillhör det reflexiva possessiva pronomenet är i utrum, neutrum eller plural så förändras det reflexiva possessiva pronomenet.</h4><br />
                    <h4>Tillsammans med ord i utrum (n-genus): sin</h4>
                    <h4>Tillsammans med ord i neutrum (t-genus): sitt</h4>
                    <h4>Tillsammans med ord i plural: sina</h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 2: Relativa -->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-relativa" class="btn btn-warning btn-block btn-lg gl-button" data-toggle="collapse" href="#relativainfo" role="button" aria-expanded="false" aria-controls="relativainfo">Nivå 2: Relativa +</a>
            </div>
        </div>
        <div class="collapse" id="relativainfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-warning">Relativa</b> pronomen används för att påminna om något som har sagts förut (t.ex. Där springer hunden, 'som' är så snäll).</h4>
                    <h4>Till exempel: som, vilken, vilket</h4><br />
                    <h4><b class="text-warning">Genitiv</b>-formen av relativa pronomen används för att påminna om något som har sagt förut samtidigt som det visar på ett ägande eller tillhörighet till något annat (t.ex. Där springer hunden, 'vars' svans är så lång).</h4>
                    <h4>Till exempel: vilkas, vilkens, vilkets, vars</h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 2: Interrogativa-->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-interrogativa" class="btn btn-warning btn-block btn-lg gl-button" data-toggle="collapse" href="#interrogativainfo" role="button" aria-expanded="false" aria-controls="interrogativainfo">Nivå 2: Interrogativa +</a>
            </div>
        </div>
        <div class="collapse" id="interrogativainfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-warning">Interrogativa</b> pronomen används för att visa att du frågar något (t.ex. 'Vem' är du?).</h4>
                    <h4>Till exempel: vilka, vilken, vilket, vem, vad</h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 2: Demonstrativa-->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-demonstrativa" class="btn btn-warning btn-block btn-lg gl-button" data-toggle="collapse" href="#demonstrativainfo" role="button" aria-expanded="false" aria-controls="demonstrativainfo">Nivå 2: Demonstrativa +</a>
            </div>
        </div>
        <div class="collapse" id="demonstrativainfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-warning">Demonstrativa</b> pronomen används när du vill peka ut något speciellt (t.ex. Jag vill ha 'den').</h4><br />
                    <h4><b class="text-warning">Nära:</b> om det som ska pekas ut befinner sig nära så kombineras pronomenet med ordet 'här' för att bilda det demonstrativa pronomenet (t.ex. Jag vill ha 'den här').</h4>
                    <h4>Till exempel: de här, den här, det här, du här, han här, hon här, hen här, ni här</h4><br />
                    <h4><b class="text-warning">Långt borta:</b> om det som ska pekas ut befinner sig långt borta så kombineras pronomenet med ordet 'där' för att bilda det demonstrativa pronomenet (t.ex. Jag vill ha 'den där').</h4>
                    <h4>Till exempel: de där, den där, det där, du där, han där, hon där, hen där, ni där</h4><br />
                    <h4><b class="text-warning">Lika:</b> om det som ska pekas ut är likadant som något annat (eller inte har förändrats) så skrivs pronomenet 'de', 'den' eller 'det' ihop med ordet 'samma' för att bilda det demonstrativa pronomenet (t.ex. Hen är 'densamma').</h4>
                    <h4>Till exempel: desamma, densamma, detsamma</h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 3: Determinativa-->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-determinativa" class="btn btn-danger btn-block btn-lg gl-button" data-toggle="collapse" href="#determinativainfo" role="button" aria-expanded="false" aria-controls="determinativainfo">Nivå 3: Determinativa +</a>
            </div>
        </div>
        <div class="collapse" id="determinativainfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-danger">Determinativa</b> pronomen används för att visa att mer information kommer (t.ex. Jag vill ha 'det som' är bäst).</h4><br />
                    <h4><b class="text-danger">Fria</b> determinativa pronomen används för att visa att mer information kommer och ersätter helt ett substantiv som annars skulle ha kunnat stå där. Pronomenet kombineras med ordet 'som' för att bilda det determinativa pronomenet (t.ex. Jag vill ha 'den som' är bäst).</h4>
                    <h4>Till exempel: dem som, den som, det som</h4><br />
                    <h4><b class="text-danger">Tillsammans med substantivet</b> som informationen handlar om kan du också skapa ett determinativt pronomen. Substantivet sätts då mitt emellan de båda orden som utgör det determinativa pronomenet (t.ex. Jag vill ha 'den' dator 'som' är bäst).</h4>
                    <h4>Till exempel: de ... som, den ... som, det ... som</h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 3: Indefinita-->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-indefinita" class="btn btn-danger btn-block btn-lg gl-button" data-toggle="collapse" href="#indefinitainfo" role="button" aria-expanded="false" aria-controls="indefinitainfo">Nivå 3: Indefinita +</a>
            </div>
        </div>
        <div class="collapse" id="indefinitainfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-danger">Indefinita</b> pronomen används istället för någon eller något som är obestämt eller okänt (t.ex. 'Någon' borde göra det).</h4>
                    <h4>Till exempel: man, en, ingen, inget, inga, ingenting, alla, allting, någon, något, några, någonting, många, somliga, vissa</h4><br />
                </div>
            </div>
        </div><br />
    </div>
</div>


<script>
    $('#mer-info-pro').click(function () {
        $(this).text(function (i, old) {
            return old == 'Pronomen -' ? 'Pronomen +' : 'Pronomen -';
        });
    });

    $('#mer-info-personliga').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 1: Personliga -' ? 'Nivå 1: Personliga +' : 'Nivå 1: Personliga -';
        });
    });

    $('#mer-info-possessiva').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 1: Possessiva -' ? 'Nivå 1: Possessiva +' : 'Nivå 1: Possessiva -';
        });
    });

    $('#mer-info-reflexiva').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 1: Reflexiva -' ? 'Nivå 1: Reflexiva +' : 'Nivå 1: Reflexiva -';
        });
    });

    $('#mer-info-reflexiva-possessiva').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 2: Reflexiva possessiva -' ? 'Nivå 2: Reflexiva possessiva +' : 'Nivå 2: Reflexiva possessiva -';
        });
    });

    $('#mer-info-relativa').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 2: Relativa -' ? 'Nivå 2: Relativa +' : 'Nivå 2: Relativa -';
        });
    });

    $('#mer-info-interrogativa').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 2: Interrogativa -' ? 'Nivå 2: Interrogativa +' : 'Nivå 2: Interrogativa -';
        });
    });

    $('#mer-info-demonstrativa').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 2: Demonstrativa -' ? 'Nivå 2: Demonstrativa +' : 'Nivå 2: Demonstrativa -';
        });
    });

    $('#mer-info-determinativa').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 3: Determinativa -' ? 'Nivå 3: Determinativa +' : 'Nivå 3: Determinativa -';
        });
    });

    $('#mer-info-indefinita').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 3: Indefinita -' ? 'Nivå 3: Indefinita +' : 'Nivå 3: Indefinita -';
        });
    });
</script>
