<div class="col-md-12 row">
    <div class="col-md-12 text-center">
        <br /><p class="text-primary"><a id="mer-info-sub" class="text-muted btn-lg gl-a-color" data-toggle="collapse" href="#subinfo" role="button" aria-expanded="false" aria-controls="subinfo">Substantiv +</a></p>
    </div>
</div>
<div class="collapse" id="subinfo">
    <div class="card card-body">
        <!--Inledande info-->
        <div class="col-md-12 text-center">
            <h4>
                <i>
                    Substantiv är namn på ting<br />
                    såsom 'apa', 'boll' och 'sting'
                </i>
            </h4><br />
        </div>
        <!--Nivå 1: Konkret eller abstrakt-->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                @*<p class="text-success">*@<a id="mer-info-kon-abs" class="btn btn-success btn-block btn-lg gl-button" data-toggle="collapse" href="#konabsinfo" role="button" aria-expanded="false" aria-controls="konabsinfo">Nivå 1: Konkret/abstrakt +</a>@*</p>*@
            </div>
        </div>
        <div class="collapse" id="konabsinfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-success">Konkreta</b> substantiv är sådant som du kan uppfatta med dina sinnen (syn, hörsel, smak, lukt och känsel).</h4>
                    <h4>Till exempel: bil, citron, dator, ekorre, fågel, glass, hund, katt, lärare, mamma, näsa, orm, pappa, sol, träd, äpple, öga</h4><br />
                    <h4><b class="text-success">Abstrakta</b> substantiv är sådant som du bara kan uppfatta genom att tänka på det eller fantisera om det.</h4>
                    <h4>Till exempel: diskussion, hat, ilska, glädje, känsla, lycka, samtal, sorg, vila</h4>
                </div>
            </div>
        </div><br />
        <!--Nivå 2: Kasus (nominativ och genitiv)-->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                @*<p class="text-warning">*@<a id="mer-info-kasus" class="btn btn-warning btn-block btn-lg gl-button" data-toggle="collapse" href="#kasusinfo" role="button" aria-expanded="false" aria-controls="kasusinfo">Nivå 2: Kasus +</a>@*</p>*@
            </div>
        </div>
        <div class="collapse" id="kasusinfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-warning">Kasus</b> handlar om ägande och icke-ägande hos substantivet.</h4><br />
                    <h4><b class="text-warning">Nominativ</b> (eller 'grundformen') visar att det inte finns något som ägs av eller har ett släktskap till substantivet.</h4>
                    <h4>Till exempel: bil, citron, dator, ekorre, fågel, glass, hund, katt, känsla, lycka, samtal, sorg, vila</h4><br />
                    <h4><b class="text-warning">Genitiv</b> visar att något ägs av eller har ett släktskap till substantivet (visas genom att lägga till ett 's' på slutet av ordet).</h4>
                    <h4>Till exempel: bils, citrons, dators, ekorres, fågels, glass, hunds, katts, känslas, lyckas, samtals, sorgs, vilas</h4><br />
                    <h4><b class="text-warning">Undantag:</b> om substantivet redan slutar på 's' så lägger du INTE till ett till 's' på slutet av ordet utan ordet får stå oförändrat.</h4>
                    <h4>Exempel i nominativ: glass, is, Niklas</h4>
                    <h4>Exempel i genitiv: glass, is, Niklas</h4>
                </div>
            </div>
        </div><br />
        <!--Nivå 2: Genus (utrum eller neutrum)-->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                @*<p class="text-warning">*@<a id="mer-info-genus" class="btn btn-warning btn-block btn-lg gl-button" data-toggle="collapse" href="#genusinfo" role="button" aria-expanded="false" aria-controls="genusinfo">Nivå 2: Genus +</a>@*</p>*@
            </div>
        </div>
        <div class="collapse" id="genusinfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-warning">Genus</b> är ett sätt att dela in substantiven i två kategorier beroende på deras egenskaper.</h4><br />
                    <h4><b class="text-warning">Utrum</b> (eller n-genus) är substantiv där du kan sätta artikeln 'en' framför ordet eller ersätta substantivet med ordet 'den'.</h4>
                    <h4>Till exempel: en bil, en citron, en dator, en ekorre, en fågel, en glass, en hund, en katt, en känsla, en lycka, en sorg</h4><br />
                    <h4><b class="text-warning">Neutrum</b> (eller t-genus) är substantiv där du kan sätta artikeln 'ett' framför ordet eller ersätta substantivet med ordet 'det'.</h4>
                    <h4>Till exempel: ett barn, ett golv, ett hus, ett kalas, ett ord, ett samtal, ett tak, ett äpple</h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 3: Numerus (singular och plural) -->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <p class="text-danger"><a id="mer-info-numerus" class="btn btn-danger btn-block btn-lg gl-button" data-toggle="collapse" href="#numerusinfo" role="button" aria-expanded="false" aria-controls="numerusinfo">Nivå 3: Numerus +</a></p>
            </div>
        </div>
        <div class="collapse" id="numerusinfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-danger">Numerus</b> är ett sätt att beskriva två olika former hos substantiv (det vill säga om det är ett eller flera av substantivet).</h4><br />
                    <h4><b class="text-danger">Singular</b> är när det bara finns ett av substantivet (det är även då som du kan sätta artikeln 'ett' eller 'en' framför ordet).</h4>
                    <h4>Till exempel: ett barn, en bil, en blomma, en dator, en fågel, ett golv, en hund, ett huvud, en katt, en känsla, ett tak, ett äpple</h4><br />
                    <h4><b class="text-danger">Plural</b> är när det finns flera av ett substantiv (det är även då som du kan sätta artikeln 'flera' framför ordet).</h4>
                    <h4>Till exempel: flera barn, flera bilar, flera blommor flera datorer, flera fåglar, flera golv, flera hundar, flera huvuden, flera katter, flera känslor, flera tak, flera äpplen</h4><br />
                    <h4><b class="text-danger">Regelbunden</b> är när substantivets plural-form är nästan (eller helt samma) som singular-formen. Du lägger bara till några bokstäver (ibland ingen bokstav) på slutet av ordet.</h4>
                    <h4>Till exempel: bil-ar, dator-er, hund-ar, katt-er, tak, äpple-n</h4><br />
                    <h4><b class="text-danger">Oregelbunden</b> är när substantivets plural-form är väldigt annorlunda från singular-formen. Du kanske måste byta ut, byta plats, ta bort eller lägga till en bokstav mitt i ordet samtidigt som du lägger till några bokstäver (ibland ingen bokstav) på slutet av ordet.</h4>
                    <h4>Till exempel: en blomma - flera blomm-or, en fågel - flera fåg-l-ar, ett huvud - flera huvud-e-n, en känsla - flera känsl-or</h4><br />
                    <h4><b class="text-danger">Deklination</b> kallas de sätt på vilket vi gör om ett substantiv till plural-form genom att lägga till bokstäver på slutet av ordet. Det kan göras på 5 olika sätt (det 5:e sättet är att inte lägga till några bokstäver alls).</h4>
                    <h4>-or: flera blommor, flera känslor</h4>
                    <h4>-ar: flera bilar, flera fåglar, flera hundar</h4>
                    <h4>-er: flera datorer, flera katter</h4>
                    <h4>-n: flera huvuden, flera äpplen</h4>
                    <h4>-: flera barn, flera golv, flera tak</h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 3: Obestämd och bestämd -->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <p class="text-danger"><a id="mer-info-obe-bes" class="btn btn-danger btn-block btn-lg gl-button" data-toggle="collapse" href="#obebesinfo" role="button" aria-expanded="false" aria-controls="obebesinfo">Nivå 3: Bestämdhet +</a></p>
            </div>
        </div>
        <div class="collapse" id="obebesinfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-danger">Obestämd singular</b> är när det rör sig om ett substantiv som är 1 till antal (t.ex. en katt) men det är obestämt vilken specifik det rör sig om (t.ex. det spelar ingen roll vilken katt).</h4>
                    <h4>Till exempel: ett barn, en bil, en blomma, en dator, en fågel, ett golv, en hund, ett huvud, en katt, en känsla, ett tak, ett äpple</h4><br />
                    <h4><b class="text-danger">Obestämd plural</b> är när det rör sig om ett substantiv som är flera till antal (t.ex. flera katter) men det är obestämt vilka specifika det rör sig om (t.ex. det spelar ingen roll vilka katter).</h4>
                    <h4>Till exempel: flera barn, flera bilar, flera blommor, flera datorer, flera fåglar, flera golv, flera hundar, flera huvuden, flera katter, flera känslor, flera tak, flera äpplen</h4><br />
                    <h4><b class="text-danger">Bestämd singular</b> är när det rör sig om ett substantiv som är 1 till antal (t.ex. katten) och det är bestämt vilken specifik det rör sig om (t.ex. det är den där katten). Det obestämda substantivet (singular) görs om till bestämd-form med hjälp av dess genus. Om det är ett utrum (n-genus) så läggs -n eller -en till på slutet av ordet. Om det är ett neutrum (t-genus) så läggs -t eller -et till på slutet av ordet.</h4>
                    <h4>Till exempel: det där barn-et, den där bil-en, den där blomma-n, den där dator-n, den där fågel-n, det där golv-et, den där hund-en, det där huvud-et, den där katt-en, den där känsla-n, det där tak-et, det där äpple-t</h4><br />
                    <h4><b class="text-danger">Bestämd plural</b> är när det rör sig om ett substantiv som är flera till antal (t.ex. katterna) och det är bestämt vilka specifika det rör sig om (t.ex. det är de där katterna). Det obestämda substantivet (plural) görs om till bestämd form genom att lägga till -na, -a eller -en på slutet av ordet.</h4>
                    <h4>Till exempel: de där barn-en, de där bilar-na, de där blommor-na, de där datorer-na, de där fåglar-na, de där golven-a, de där hundar-na, de där huvuden-a, de där katter-na, de där känslor-na, de där tak-en, de där äpplen-a</h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 3: Bestämd fristående artikel-->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <p class="text-danger"><a id="mer-info-fri" class="btn btn-danger btn-block btn-lg gl-button" data-toggle="collapse" href="#friinfo" role="button" aria-expanded="false" aria-controls="friinfo">Nivå 3: Bestämd artikel +</a></p>
            </div>
        </div>
        <div class="collapse" id="friinfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-danger">Bestämd fristående artikel</b> används när det står ett beskrivande ord framför substantivet i bestämd form. Den bestämda fristående artikeln placerar då framför det beskrivande ordet (t.ex. <b>den</b> fina katten).</h4><br />
                    <h4><b class="text-danger">Bestämd fristående artikel singular</b> används när det står ett beskrivande ord framför substantivet i bestämd form singular. Den bestämda fristående artikeln styrs av vilket genus substantivet har. Om det är ett utrum (n-genus) så blir det 'den' och om det är ett neutrum (t-genus) så blir det 'det'.</h4>
                    <h4>Till exempel: det glada barnet, den blanka bilen, den ljuva blomman, den snabba datorn, den fina fågeln, det hårda golvet, den roliga hunden, den varma känslan, det stora taket, det goda äpplet</h4><br />
                    <h4><b class="text-danger">Bestämd fristående artikel plural</b> används när det står ett beskrivande ord framför substantivet i bestämd form plural. Den bestämda fristående artikeln är alltid 'de'.</h4>
                    <h4>Till exempel: de glada barnen, de blanka bilarna, de ljuva blommorna, de snabba datorerna, de fina fåglarna, de hårda golven, de roliga hundarna, de varma känslorna, de stora taken, de goda äpplena</h4><br />
                </div>
            </div>
        </div><br />
    </div>
</div>


<script>
    $('#mer-info-sub').click(function () {
        $(this).text(function (i, old) {
            return old == 'Substantiv -' ? 'Substantiv +' : 'Substantiv -';
        });
    });

    $('#mer-info-kon-abs').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 1: Konkret eller abstrakt -' ? 'Nivå 1: Konkret eller abstrakt +' : 'Nivå 1: Konkret eller abstrakt -';
        });
    });

    $('#mer-info-kasus').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 2: Kasus (nominativ och genitiv) -' ? 'Nivå 2: Kasus (nominativ och genitiv) +' : 'Nivå 2: Kasus (nominativ och genitiv) -';
        });
    });

    $('#mer-info-genus').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 2: Genus (utrum eller neutrum) -' ? 'Nivå 2: Genus (utrum eller neutrum) +' : 'Nivå 2: Genus (utrum eller neutrum) -';
        });
    });

    $('#mer-info-numerus').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 3: Numerus (singular och plural) -' ? 'Nivå 3: Numerus (singular och plural) +' : 'Nivå 3: Numerus (singular och plural) -';
        });
    });

    $('#mer-info-obe-bes').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 3: Obestämd och bestämd -' ? 'Nivå 3: Obestämd och bestämd +' : 'Nivå 3: Obestämd och bestämd -';
        });
    });

    $('#mer-info-fri').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 3: Bestämd fristående artikel -' ? 'Nivå 3: Bestämd fristående artikel +' : 'Nivå 3: Bestämd fristående artikel -';
        });
    });
</script>
