<div class="col-md-12 row">
    <div class="col-md-12 text-center">
        <br /><p class="text-primary"><a id="mer-info-ver" class="text-muted btn-lg gl-a-color" data-toggle="collapse" href="#verinfo" role="button" aria-expanded="false" aria-controls="verinfo">Verb +</a></p>
    </div>
</div>
<div class="collapse" id="verinfo">
    <div class="card card-body">
        <!--Inledande info-->
        <div class="col-md-12 text-center">
            <h4>
                <i>
                    Verb är sånt som man kan göra<br />
                    'känna', 'kramas', 'se' och 'röra'
                </i>
            </h4><br />
        </div>
        <!--Nivå 1: Typ -->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-typ-verb" class="btn btn-success btn-block btn-lg gl-button" data-toggle="collapse" href="#typverbinfo" role="button" aria-expanded="false" aria-controls="typverbinfo">Nivå 1: Typ +</a>
            </div>
        </div>
        <div class="collapse" id="typverbinfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-success">Huvudverb</b> är en typ av verb som beskriver själva handlingen som utförs (t.ex. Jag 'sparkar' bollen).</h4>
                    <h4>Till exempel: hoppa, hämta, kasta, klappa, läsa, ropa, skrika, skriva, spara, sparka, springa, åka</h4><br />
                    <h4><b class="text-success">Bindeverb</b> är en typ av verb som beskriver att något befinner sig i ett tillstånd (t.ex. Jag 'är' glad).</h4>
                    <h4>Till exempel: bli, kalla, vara, verka, heta</h4><br />
                    <h4><b class="text-success">Hjälpverb</b> är en typ av verb som används tillsammans med huvudverb för att förtydliga handlingen i tiden eller i sättet (t.ex. Jag 'har' sparkat bollen).</h4>
                    <h4>Till exempel: ha, komma, ska</h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 1: Tema -->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-tema-verb" class="btn btn-success btn-block btn-lg gl-button" data-toggle="collapse" href="#temaverbinfo" role="button" aria-expanded="false" aria-controls="temaverbinfo">Nivå 1: Tema +</a>
            </div>
        </div>
        <div class="collapse" id="temaverbinfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-success">Tema</b> är en sammanfattning av verbets mest grundläggande verbformer/böjning (infinitiv, preteritum och supinum). En böjning enligt verbets tempus kan exempelvis se ut såhär: hoppa - hoppade - hoppat.</h4><br />
                    <h4><b class="text-success">Infinitiv</b> är grundformen av ett verb och det går att sätta attributet 'att' framför verbet i infinitv (t.ex. att 'hoppa').</h4>
                    <h4>Till exempel: bli, ha, heta, hoppa, hämta, kasta, klappa, komma, läsa, skrika, skriva, sparka, springa, vara, åka</h4><br />
                    <h4><b class="text-success">Preteritum</b> är en verbform som används för att visa att något har inträffat tidigare och det går att sätta attributet 'igår' framför verbet i preteritum (t.ex. igår 'hoppade').</h4>
                    <h4>Till exempel: blev, hade, hette, hoppade, hämtade, kastade, klappade, kom, läste, skrek, skrev, sparkade, sprang, vara, åkte</h4><br />
                    <h4><b class="text-success">Supinum</b> är en verbform som används för att visa att något har inträffat tidigare och det går att sätta attributet 'har' eller 'hade' framför verbet i supinum (t.ex. har 'hoppat').</h4>
                    <h4>Till exempel: blivit, haft, hetat, hoppat, hämtat, kastat, klappat, kommit, läst, skrikit, skrivit, sparkat, sprungit, varit, åkt</h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 2: Regelbundenhet-->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-regel-verb" class="btn btn-warning btn-block btn-lg gl-button" data-toggle="collapse" href="#regelverbinfo" role="button" aria-expanded="false" aria-controls="regelverbinfo">Nivå 2: Regelbundenhet +</a>
            </div>
        </div>
        <div class="collapse" id="regelverbinfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-warning">Regelbundenhet</b> handlar om hur verbet förändras när det böjs och brukar delas in i regelbundna och oregelbundna.</h4><br />
                    <h4>
                        <b class="text-warning">Regelbundna</b> verb är de som följer ett regelbundet mönster för hur de böjs. Dessa kan i sin tur delas in i tre undergrupper:<br />
                        1) regelbundna verb som slutar på -ar i presens (ex. pratar) får -de i preteritum (ex. pratade), får -t i supinum (ex. pratat) och är samma i både infinitiv och imperativ (ex. prata)<br />
                        2) regelbundna verb som slutar på -er eller -r i presens (köper) får -de eller -te i preteritum (ex. köpte), får -t i supinum (ex. köpt) och slutar på konsonant i imperativ (ex. köp) till skillnad från i infinitiv (ex. köpa)<br />
                        3) korta regelbundna ver (ex. bor) får -dde i preteritum (ex. bodde), -tt i supinum (ex. bott) och är samma i både infinitiv och imperativ (ex. bo)
                    </h4><br />
                    <h4>
                        <b class="text-warning">Oregelbundna</b> verb är de som inte följer regelbundna mönster för hur de böjs i samma utsträckning som de regelbundna. Dessa kan i sin tur delas in i två underkategorier:<br />
                        1) starka verb följer liknande regelbundenhet som de regelbundna men ändrar vokal när de böjs (ex. sitta - satt - suttit)<br />
                        2) oregelbundna verb följer inte något regelbundet möster och måste därför läras utantill, tyvärr. Några exempel på oregelbundna verb är: gå - gick - gått, ha - hade - haft, heta - hette - hetat
                    </h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 2: Tempus -->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-tempus-verb" class="btn btn-warning btn-block btn-lg gl-button" data-toggle="collapse" href="#tempusverbinfo" role="button" aria-expanded="false" aria-controls="tempusverbinfo">Nivå 2: Tempus +</a>
            </div>
        </div>
        <div class="collapse" id="tempusverbinfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-warning">Tempus</b> är en samling av de olika tidsformerna som ett verb kan ha.</h4><br />
                    <h4><b class="text-warning">Presens</b> är den tidsform som beskriver att något händer nu (t.ex. Jag 'hoppar').</h4>
                    <h4>Till exempel: blir, heter, hoppar, hämtar, kastar, klappar, kommer, läser, skriker, skriver, sparkar, är, åker</h4><br />
                    <h4><b class="text-warning">Preteritum</b> (står även med under Tema) är en tidsform som används för att visa att något har inträffat tidigare och det går att sätta attributet 'igår' framför verbet i preteritum (t.ex. Jag 'hoppade').</h4>
                    <h4>Till exempel: blev, hade, hette, hoppade, hämtade, kastade, klappade, kom, läste, skrek, skrev, sparkade, sprang, vara, åkte</h4><br />
                    <h4><b class="text-warning">Perfekt</b> är en tidsform som används för att visa att en handling är fullbordad/avklarad. Detta görs genom att kombinera verbet i supinum med attributet 'har' (t.ex. Jag 'har hoppat').</h4>
                    <h4>Till exempel: har haft, har hämtat, har kastat, har klappat, har läst, har skrivit, har sparkat, har sprungit, har åkt</h4><br />
                    <h4><b class="text-warning">Pluskvamperfekt</b> är en tidsform som används för att visa att en handling var fullbordad/avklarad innan något annat inträffade som som avbröt handlingen. Detta görs genom att kombinera verbet i supinum med attributet 'hade' (t.ex. Jag 'hade hoppat').</h4>
                    <h4>Till exempel: hade haft, hade hämtat, hade kastat, hade klappat, hade läst, hade skrivit, hade sparkat, hade sprungit, hade åkt</h4><br />
                    <h4><b class="text-warning">Futurum</b> är en tidsform som används för att visa att en handling kommer att inträffa i framtiden. Detta görs genom genom att kombinera verbet i infinitiv med hjälpverbet 'ska' (t.ex. Jag 'ska hoppa').</h4>
                    <h4>Till exempel: ska ha, ska hämta, ska kasta, ska klappa, ska läsa, ska skriva, ska sparka, ska springa, ska åka</h4><br />
                    <h4><b class="text-warning">Imperativ</b> är egentligen ingen tidsform av verbet utan är den form som används när verbet ska formuleras till en uppmaning. Ofta skrivs det likadant som verbet i infinitiv (t.ex. 'Hoppa' högre!) men inte alltid (t.ex. 'Spring' fortare!).</h4>
                    <h4>Till exempel: hoppa, hämta, kasta, klappa, kom, läs, ropa, skrik, skriv, sparka, spring, åk</h4><br />
                </div>
            </div>
        </div><br />
        <!--Nivå 3: Particip -->
        <div class="col-md-12 row">
            <div class="col-md-12 text-center">
                <a id="mer-info-particip-verb" class="btn btn-danger btn-block btn-lg gl-button" data-toggle="collapse" href="#participverbinfo" role="button" aria-expanded="false" aria-controls="participverbinfo">Nivå 3: Particip +</a>
            </div>
        </div>
        <div class="collapse" id="participverbinfo">
            <div class="card card-body">
                <div class="col-md-12 text-left">
                    <h4><b class="text-danger">Particip</b> är en verbform som används för att beskriva någon eller något och fungerar på det sättet som ett adjektiv. Det finns två olika typer av particip hos verb.</h4><br />
                    <h4><b class="text-danger">Presens particip</b> används för att beskriva någon/något som utför en handling (t.ex. En 'hoppande' hund).</h4>
                    <h4>Till exempel: hoppande/hoppandes, hämtande/hämtandes, klappande/klappandes, läsande/läsandes, ropande/ropandes</h4><br />
                    <h4><b class="text-danger">Perfekt particip</b> används för att beskriva någon/något som har blivit utsatt för en handling (t.ex. En 'kastad' boll).</h4>
                    <h4>Till exempel: hoppad, hämtad, kallad, kastad, klappad, läst, ropad, skriken, skriven, sparad, sparkad</h4><br />
                </div>
            </div>
        </div><br />
    </div>
</div>

<script>
    $('#mer-info-ver').click(function () {
        $(this).text(function (i, old) {
            return old == 'Verb -' ? 'Verb +' : 'Verb -';
        });
    });

    $('#mer-info-typ-verb').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 1: Typ -' ? 'Nivå 1: Typ +' : 'Nivå 1: Typ -';
        });
    });

    $('#mer-info-tema-verb').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 1: Tema -' ? 'Nivå 1: Tema +' : 'Nivå 1: Tema -';
        });
    });

    $('#mer-info-regel-verb').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 2: Regelbundenhet -' ? 'Nivå 2: Regelbundenhet +' : 'Nivå 2: Regelbundenhet -';
        });
    });

    $('#mer-info-tempus-verb').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 2: Tempus -' ? 'Nivå 2: Tempus +' : 'Nivå 2: Tempus -';
        });
    });

    $('#mer-info-particip-verb').click(function () {
        $(this).text(function (i, old) {
            return old == 'Nivå 3: Particip -' ? 'Nivå 3: Particip +' : 'Nivå 3: Particip -';
        });
    });
</script>
