body {
    background-image: url(img/coffee-2306471_1920.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.gl-row {
    padding-right: 14px;
    padding-left: 14px;
}

.gl-div-black-white {
    border: 10px solid black;
    border-radius: 0px;
    padding-bottom: 20px;
    background-color: black;
    color: #777777;
}

.gl-div-opacity {
    opacity: 0.9;
}

.gl-text-black {
    color: white;
}