@model List<GrammatikLaxen.Models.FragaSvar>

<div class="well">
    @foreach (var fragaSvar in Model)
    {
        <p>
            @fragaSvar.Nummer @fragaSvar.Fraga<br />
            Ditt svar:
        </p>
    }
</div>
