
<p class="lead">
    Proven består av 15 slumpvis genererade frågor från blandade ordklasser och beroende på vilken provnivå du väljer så plockas frågorna från
    olika svårighetsgrader.
</p>
<p class="lead">
    <i class="text-primary">"Provnivå: 0" hämtar 15 bas-frågor.</i><br />
    <i class="text-success">"Provnivå: 1" hämtar 15 lätta frågor.</i><br />
    <i class="text-warning">"Provnivå: 2" hämtar först 8 lätta frågor och sedan 7 medelsvåra.</i><br />
    <i class="text-danger">"Provnivå: 3" hämtar först 6 lätta frågor, sedan 5 medelsvåra frågor och sist 4 svåra frågor.</i><br />
</p>