<h2>Substantiv</h2>
<p class="lead text-success">
    Lätta: ordklass, konkreta, abstrakta
</p>
<p class="lead text-warning">
    Medelsvåra: nominativ, genus, genitiv
</p>
<p class="lead text-danger">
    Svåra: singular, plural, obestämd, bestämd, bestämd fristående artikel
</p>

<h2>Pronomen</h2>
<p class="lead text-success">
    Lätta: ordklass, personliga, possessiva, reflexiva
</p>
<p class="lead text-warning">
    Medelsvåra: reflexiva possessiva, relativa, interrogativa, demonstrativa
</p>

<h2>Adjektiv</h2>
<p class="lead text-success">
    Lätta: ordklass, obestämd, bestämd, singular, plural
</p>
<p class="lead text-warning">
    Medelsvåra: komparation
</p>
<p class="lead text-danger">
    Svåra: superlativ (i attributiv ställning)
</p>

<h2>Verb</h2>
<p class="lead text-success">
    Lätta: ordklass, typ (huvudverb, hjälpverb, bindeverb), tema
</p>
<p class="lead text-warning">
    Medelsvåra: tempus
</p>
<p class="lead text-danger">
    Svåra: particip
</p>

<h2>Adverb</h2>
<p class="lead text-success">
    Lätta: ordklass, tidsadverb, rumsadverb, sättsadverb
</p>
<p class="lead text-warning">
    Medelsvåra: gradadverb, orsaksadverb, relativa adverb, satsadverb
</p>

<h2>Preposition</h2>
<p class="lead text-success">
    Lätta: ordklass
</p>

<h2>Konjunktion</h2>
<p class="lead text-success">
    Lätta: ordklass
</p>
<p class="lead text-warning">
    Medelsvåra: subjunktion
</p>

<h2>Räkneord</h2>
<p class="lead text-success">
    Lätta: ordklass, grundtal, ordningstal
</p>

<h2>Interjektion</h2>
<p class="lead text-success">
    Lätta: ordklass
</p>