@model List<GrammatikLaxen.Models.FragaSvar>
@{
    ViewBag.Title = "Provnivå: 1";
}
<div class="jumbotron gl-div-opacity">
    <div class="col-md-12">
        <h1>Provnivå: 1</h1>
        <p class="lead">
            Provet genereras slumpvis så om du inte är nöjd välj "Generera nytt" för att skapa ett nytt prov eller "Tillbaka" för att skapa en annan typ av prov.
        </p>
    </div>
    <div class="col-md-12 row">
        <div class="col-md-6 text-left">
            <a href="@Url.Action("Index", "Prov")" class="btn btn-default btn-lg gl-button">&laquo; Tillbaka</a>
        </div>
    </div><br />
    <div class="col-md-12 row">
        <div class="col-md-12 text-center">
            <a href="@Url.Action("Niva1", "Prov")" class="text-primary btn-lg">Generera nytt &raquo;</a>
        </div>
    </div>
</div>

<div role="tabpanel" class="col-md-12 gl-div-black-white gl-div-opacity">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li>
            <a class="navbar-link active" data-toggle="tab" href="#latt-prov">Provet</a>
        </li>
        <li>
            <a class="navbar-link" data-toggle="tab" href="#latt-prov-facit">Facit</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="latt-prov">
            @Html.Partial("_Niva1Prov")
        </div>
        <div class="tab-pane fade" id="latt-prov-facit">
            @Html.Partial("_Niva1ProvFacit")
        </div>
    </div>
</div>