
@{
    ViewBag.Title = "Spel";
}
<div class="jumbotron gl-div-opacity">
    <div class="col-md-12">
        <h1>Spel</h1>
        <p class="lead">Kommer snart</p>
    </div>
    <div class="col-md-12 row">
        <div class="col-md-12 text-left">
            <a href="@Url.Action("Index", "Home")" class="btn btn-default btn-lg gl-button">&laquo; Tillbaka</a>
        </div>
    </div><br />
</div>

